<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="account.menu_finance" name="Accounting"/>

    <menuitem id="menu_account_templates"
              sequence="100"
              name="Templates"
              parent="account.menu_finance_configuration"
              groups="base.group_no_one"/>

    <record id="account.menu_action_account_moves_all" model="ir.ui.menu">
        <field name="groups_id" eval="[(5,0,0)]" />
    </record>

    <record id="account.menu_action_account_moves_all" model="ir.ui.menu">
        <field name="sequence">2</field>
    </record>

    <menuitem id="menu_finance_entries_accounting_journals" name="Journals"
              parent="account.menu_finance_entries" sequence="2">

        <menuitem id="menu_action_account_moves_journal_sales"
                  action="account.action_account_moves_journal_sales"
                  groups="account.group_account_readonly" sequence="1"/>

        <menuitem id="menu_action_account_moves_journal_purchase"
                  action="account.action_account_moves_journal_purchase"
                  groups="account.group_account_readonly" sequence="2"/>

        <menuitem id="menu_action_account_moves_journal_bank_cash"
                  action="account.action_account_moves_journal_bank_cash"
                  groups="account.group_account_readonly" sequence="3"/>

        <menuitem id="menu_action_account_moves_journal_misc"
                  action="account.action_account_moves_journal_misc"
                  groups="account.group_account_readonly" sequence="4"/>

    </menuitem>

    <record id="base.menu_translation" model="ir.ui.menu">
        <field name="groups_id" eval="[(5, 0, 0)]"/>
    </record>

    <record id="base.menu_view_base_import_language" model="ir.ui.menu">  <!-- Import Translations -->
        <field name="parent_id" ref="base.menu_translation"/>
    </record>
    <record id="base.menu_wizard_lang_export" model="ir.ui.menu">  <!-- Export Translations -->
        <field name="parent_id" ref="base.menu_translation"/>
    </record>


    


    <!--               Accounting Module's Menu Changes               -->
    <record id="account.menu_finance_receivables" model="ir.ui.menu"> <!-- Customer changes to Invoices -->
        <field name="name">Invoices</field>
    </record>
    <record id="account.menu_board_journal_1" model="ir.ui.menu"> <!-- Dashboard changes to Statistics -->
        <field name="name">Statistics</field>
    </record>
    <record id="account.menu_finance_payables" model="ir.ui.menu"> <!-- Vendor changes to Payments and Banks -->
        <field name="name">Payment Control</field>
    </record>
    <record id="account.menu_finance_reports" model="ir.ui.menu"> <!-- Reporting changes to Reports -->
        <field name="name">Reports</field>
    </record>
    <record id="account.menu_account_config" model="ir.ui.menu"> <!-- Configuration/Settings change to Accounting/Settings-->
        <field name="parent_id" ref="account.menu_finance"/>
        <field name="sequence">90</field>
    </record>

    <!-- Invoices Menu-->
    <record id="account.menu_action_move_in_invoice_type" model="ir.ui.menu"> <!-- Bills -->
        <field name="parent_id" ref="account.menu_finance_receivables"/>
    </record>
    <record id="account.menu_action_move_in_refund_type" model="ir.ui.menu">  <!-- Refunds -->
        <field name="parent_id" ref="account.menu_finance_receivables"/>
    </record>
    <record id="account.menu_action_account_invoice_report_all" model="ir.ui.menu">  <!-- Invoice Analysis -->
        <field name="parent_id" ref="account.menu_finance_receivables"/>
    </record>

    <!-- Payments Menu-->
    <record id="account.action_account_reconcile_model_menu" model="ir.ui.menu">   <!-- Reconcilation Model -->
        <field name="parent_id" ref="account.menu_finance_payables"/>
    </record>
    
    <record id="account_payment.payment_provider_menu" model="ir.ui.menu">  <!-- Payment Providers -->
        <field name="parent_id" ref="account.menu_finance_payables"/>
    </record>
    <record id="account_payment.payment_method_menu" model="ir.ui.menu">  <!-- Payment Methods -->
        <field name="parent_id" ref="account.menu_finance_payables"/>
    </record>


    <!-- Banks Menu-->
    <menuitem
        id="menu_account_banks"
        name="Banks"
        parent="account.menu_finance"
        sequence="3"
    />
    <record id="contacts.menu_action_res_bank_form" model="ir.ui.menu">  <!-- Banks -->
        <field name="parent_id" ref="om_account_accountant.menu_account_banks"/>
    </record>
    <record id="contacts.menu_action_res_partner_bank_form" model="ir.ui.menu">  <!-- Bank Accounts -->
        <field name="parent_id" ref="om_account_accountant.menu_account_banks"/>
    </record>
    <record id="account_statement_import_file.account_statement_import_menu" model="ir.ui.menu">  <!-- Import Statements -->
        <field name="parent_id" ref="om_account_accountant.menu_account_banks"/>
    </record>

    <!-- Menus and SubMenus Removed-->
    <record id="account.product_product_menu_sellable" model="ir.ui.menu"> <!-- Customers/Product Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.menu_translation_export" model="ir.ui.menu"> <!-- Translations/(Import/Export) Removed -->
        <field name="active">False</field>
    </record>
    <record id="mail.mail_menu_technical" model="ir.ui.menu"> <!-- Technical/Discuss Removed -->
        <field name="active">False</field>
    </record>
    <record id="date_range.menu_date_range" model="ir.ui.menu"> <!-- Technical/Date Ranges Removed -->
        <field name="active">False</field>
    </record>
    <record id="mail.menu_mail_activities_section" model="ir.ui.menu"> <!-- Technical/Activities Removed -->
        <field name="active">False</field>
    </record>
    <record id="phone_validation.phone_menu_main" model="ir.ui.menu"> <!-- Technical/(Phone/SMS) Removed -->
        <field name="active">False</field>
    </record>
    <record id="iap.iap_root_menu" model="ir.ui.menu"> <!-- Technical/IAP Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.next_id_2" model="ir.ui.menu"> <!-- Technical/User Interface Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.next_id_9" model="ir.ui.menu"> <!-- Technical/Database Structure Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.menu_automation" model="ir.ui.menu"> <!-- Technical/Automation Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.reporting_menuitem" model="ir.ui.menu"> <!-- Technical/Reporting Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.next_id_5" model="ir.ui.menu"> <!-- Technical/Sequences & Identifiers Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.menu_ir_property" model="ir.ui.menu"> <!-- Technical/Parameters Removed -->
        <field name="active">False</field>
    </record>
    <record id="privacy_lookup.privacy_menu" model="ir.ui.menu"> <!-- Technical/Privacy Removed -->
        <field name="active">False</field>
    </record>
    <record id="resource.menu_resource_config" model="ir.ui.menu"> <!-- Technical/Resource Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.menu_email" model="ir.ui.menu"> <!-- Technical/Email Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.menu_security" model="ir.ui.menu"> <!-- Technical/Security Removed -->
        <field name="active">False</field>
    </record>
    <record id="calendar.menu_calendar_configuration" model="ir.ui.menu"> <!-- Technical/Calendar Removed -->
        <field name="active">False</field>
    </record>
    <record id="base.next_id_6" model="ir.ui.menu"> <!-- Technical/Actions Removed -->
        <field name="active">False</field>
    </record>
    <record id="account.menu_action_account_payments_receivable" model="ir.ui.menu"> <!-- Customers/Payments Removed -->
        <field name="active">False</field>
    </record>
    <record id="account.menu_account_customer" model="ir.ui.menu"> <!-- Customers/Customers Removed -->
        <field name="active">False</field>
    </record>
    <record id="account.menu_account_supplier" model="ir.ui.menu"> <!-- Vendors/Vendors Removed -->
        <field name="active">False</field>
    </record>
    <record id="account.product_product_menu_purchasable" model="ir.ui.menu"> <!-- Vendors/Product Removed -->
        <field name="active">False</field>
    </record>
    <record id="om_account_followup.menu_finance_followup" model="ir.ui.menu"> <!-- FollowUps Removed -->
        <field name="active">False</field>
    </record>
    <record id="om_account_accountant.menu_finance_entries_accounting_journals" model="ir.ui.menu"> <!-- Accounting/Journals Removed -->
        <field name="active">False</field>
    </record>
    <record id="om_account_asset.menu_finance_entries_generate_entries" model="ir.ui.menu"> <!-- Accounting/Generate Entries Removed-->
        <field name="active">False</field>
    </record>
    <record id="account_tax_balance.menu_tax_balances" model="ir.ui.menu"> <!-- Reports/Taxes Balance Removed-->
        <field name="active">False</field>
    </record> 
    <record id="account.account_reports_partners_reports_menu" model="ir.ui.menu"> <!-- Reports/Partner Reports Removed-->
        <field name="active">False</field>
    </record>
    <record id="accounting_pdf_reports.menu_finance_partner_reports" model="ir.ui.menu"> <!-- Reports/Partner Reports Removed-->
        <field name="active">False</field>
    </record> 
    <record id="om_account_daily_reports.menu_finance_daily_reports" model="ir.ui.menu"> <!-- Reports/Daily Reports Removed-->
        <field name="active">False</field>
    </record> 
    <record id="account.account_reports_management_menu" model="ir.ui.menu"> <!-- Reports/Management Removed-->
        <field name="active">False</field>
    </record>
    <record id="hr_expense.menu_hr_expense_root" model="ir.ui.menu"> <!-- Expenses App Removed-->
        <field name="active">False</field>
    </record>
       

    <!-- Taxes Menu added into the Accounting Menu-->
    <!-- <menuitem
        id="menu_account_taxes_main"
        name="Taxes"
        parent="account.menu_finance"
        sequence="3"
    /> -->
    <record id="account.menu_action_tax_form" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Taxes/Taxes -->
    </record>
    <record id="accounting_pdf_reports.menu_account_report" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Taxes/Tax Report -->
    </record>
    <record id="l10n_es_edi_facturae.menu_l10n_es_edi_facturae_root_certificates" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Taxes/Certificates -->
    </record>
    <record id="account.menu_action_account_fiscal_position_form" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Taxes/Fiscal Positions -->
    </record>
    

    <!-- Analytics and Budget Menu added into the Accounting Menu-->
    <!-- <menuitem
        id="menu_account_analytics_budget_main"
        name="Analytics and Budget"
        parent="account.menu_finance"
        sequence="4"

    /> -->
    <record id="account.account_analytic_def_account" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Analytics and Budget/Analytic Accounts -->
    </record>
    <record id="account.account_analytic_plan_menu" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Analytics and Budget/Analytic PLans -->
    </record>
    <record id="account.menu_analytic__distribution_model" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Analytics and Budget/Analytic Distribution Models -->
    </record>
    <record id="om_account_budget.menu_act_crossovered_budget_view" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Analytics and Budget/Budgets -->
    </record>
    <record id="om_account_budget.menu_budget_post_form" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Analytics and Budget/Budgetary Positions -->
    </record>
    <record id="hr_expense.menu_hr_expense_my_expenses_all" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Analytics and Budget/My Expenses -->
        <field name="name">Expenses</field>
    </record>


    <!-- Accounting Menu-->
    <record id="accounting_pdf_reports.menu_action_account_moves_ledger_general" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Accounting/General Ledger -->
    </record>
    <record id="accounting_pdf_reports.menu_action_account_moves_ledger_partner" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Accounting/Partner Ledger -->
    </record>
    <record id="accounting_pdf_reports.menu_print_journal" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Accounting/Journals Audit -->
    </record>
    <record id="accounting_pdf_reports.menu_general_balance_report" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Accounting/Trial Balance -->
    </record>
    <record id="account.menu_action_account_form" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Accounting/Chart of Accountants -->
    </record>
    <!-- <record id="om_account_accountant.menu_account_group" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/>
    </record> -->
    <record id="accounting_pdf_reports.menu_account_reports" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_entries"/> <!-- Accounting/Account Reports -->
    </record>
    <record id="account.menu_action_currency_form" model="ir.ui.menu"> <!-- Accounting/Currencies -->
        <field name="parent_id" ref="account.menu_finance_entries"/>
    </record>

    <!-- Reports Menu-->
    <record id="account.menu_action_analytic_reporting" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_reports"/> <!-- Report/Analytic Report -->
    </record>
    <record id="accounting_pdf_reports.menu_account_report_bs" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_reports"/> <!-- Report/Balance Sheet -->
    </record>
    <record id="accounting_pdf_reports.menu_account_report_pl" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_reports"/> <!-- Report/Profit and Loss -->
    </record>
    <record id="accounting_pdf_reports.menu_partner_ledger" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_reports"/> <!-- Report/Partner Ledger -->
    </record>
    <record id="accounting_pdf_reports.menu_general_ledger" model="ir.ui.menu">
        <field name="parent_id" ref="account.menu_finance_reports"/> <!-- Report/General Ledger -->
    </record>

    <record id="account.menu_finance_configuration" model="ir.ui.menu"> <!-- Configuration Removed -->
        <field name="active">False</field>
    </record>

</odoo>
