$mk-appbar-color: #dee2e6 !default;
$mk-appbar-active: $o-brand-primary !default;
$mk-appbar-background: #111827 !default;

$mk-sidebar-large-width: 230px !default;
$mk-sidebar-small-width: 46px !default;

$mk-appbar-background: #ffffff !default;
$mk-appbar-color: #4a5568 !default;
$mk-appbar-active-bg: #f1f5f9 !default;
$mk-appbar-active-border: #017e84 !default;
$mk-appbar-hover-bg: #f8fafc !default;
