$mk-appbar-color: #dee2e6 !default;
$mk-appbar-active: $o-brand-primary !default;
$mk-appbar-background: #71639E !default;

$mk-sidebar-large-width: 198px !default;
$mk-sidebar-small-width: 46px !default;
